*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/openCVLibrary2411/build
/photoview/build
/pickerViewLib/build
/.idea/gradle.xml
/.idea/modules.xml
/lib-zxing/build/
