<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="huanxing_print.com.cn.printhome">

    <!-- 网络相关 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <!-- 存储相关 -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAG"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <!-- 手机状态 -->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!-- 位置相关 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!-- 系统相关 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.WRITE_CONTACTS"/>
    <!--相机-->
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:name=".base.BaseApplication"
        android:allowBackup="true"
        android:icon="@drawable/appicon_print"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Light.NoTitleBar"
        tools:replace="Android:icon, android:theme">
        <meta-data
            android:name="huanxing_print.com.cn.printhome.constant.CachingGlideModule"
            android:value="GlideModule"/>

        <activity
            android:name=".ui.activity.welcome.SplashActivity"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.VIEW"></action>
                <category android:name="android.intent.category.DEFAULT"></category>
                <data android:mimeType="text/plain"></data>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"></action>
                <category android:name="android.intent.category.DEFAULT"></category>
                <data android:mimeType="application/pdf"></data>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"></action>
                <category android:name="android.intent.category.DEFAULT"></category>
                <data android:mimeType="application/msword"></data>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"></action>
                <category android:name="android.intent.category.DEFAULT"></category>
                <data android:mimeType="application/vnd.openxmlformats-officedocument.wordprocessingml.document"></data>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"></action>
                <category android:name="android.intent.category.DEFAULT"></category>
                <data android:mimeType="application/vnd.ms-powerpoint"></data>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"></action>
                <category android:name="android.intent.category.DEFAULT"></category>
                <data android:mimeType="application/vnd.openxmlformats-officedocument.presentationml.presentation"></data>
            </intent-filter>

        </activity>
        <!-- 引导页 -->
        <activity
            android:name=".ui.activity.welcome.GuideActivity"
            android:screenOrientation="portrait"/>
        <!-- 登录页 -->
        <activity
            android:name=".ui.activity.login.LoginActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"/>
        <!--忘记密码-->
        <activity
            android:name=".ui.activity.login.ForgetPasswodActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"/>
        <!--修改密码-->
        <activity
            android:name=".ui.activity.login.ModifyPassWordActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"/>
        <!-- 注册 -->
        <activity
            android:name=".ui.activity.login.RegisterActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"/>
        <!-- 主页 -->
        <activity
            android:name=".ui.activity.main.MainActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- 第三方类 -->
        <!-- 微信分享 -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>

        <activity
            android:name=".ui.activity.print.AddFileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity
            android:name=".ui.activity.print.DocPreviewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity
            android:name=".ui.activity.print.DocPrintActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity
            android:name=".ui.activity.print.FileListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity
            android:name=".ui.activity.print.ImgPreviewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity
            android:name=".ui.activity.print.PrintStatusActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity
            android:name=".ui.activity.print.RecentPrintersActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity
            android:name=".ui.activity.print.ImgPrintSettingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>

        <!--充值界面-->
        <activity
            android:name=".ui.activity.my.AccountActivity"
            android:screenOrientation="portrait"/>
        <!--明细界面-->
        <activity
            android:name=".ui.activity.my.MingXiActivity"
            android:screenOrientation="portrait"/>
        <!--打印详情界面-->
        <activity
            android:name=".ui.activity.my.DaYinActivity"
            android:screenOrientation="portrait"/>
        <!--联系我们界面-->
        <activity
            android:name=".ui.activity.my.ContactActivity"
            android:screenOrientation="portrait"/>
        <!--设置界面-->
        <activity
            android:name=".ui.activity.my.SettingActivity"
            android:screenOrientation="portrait"/>
        <!--设置界面-->
        <activity
            android:name=".ui.activity.my.SetDefaultPrinterActivity"
            android:screenOrientation="portrait"/>
        <!--建议界面-->
        <activity
            android:name=".ui.activity.my.SuggestActivity"
            android:screenOrientation="portrait"/>
        <!--分享界面-->
        <activity
            android:name=".ui.activity.my.ShareActivity"
            android:screenOrientation="portrait"/>
        <!--通知界面-->
        <activity
            android:name=".ui.activity.my.NoticeActivity"
            android:screenOrientation="portrait"/>
        <!--通知列表界面-->
        <activity
            android:name=".ui.activity.my.NoticeListActivity"
            android:screenOrientation="portrait"/>
        <!--我的界面-->
        <activity
            android:name=".ui.activity.my.MyActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <!--裁剪界面-->
        <activity
            android:name=".ui.activity.my.ClipeImageActivity"
            android:screenOrientation="portrait"/>
        <!--修改昵称界面-->
        <activity
            android:name=".ui.activity.my.MyModifyNameActivty"
            android:screenOrientation="portrait"/>
        <!--打印协议-->
        <activity
            android:name=".ui.activity.my.XieYiActivity"
            android:screenOrientation="portrait"/>
        <!--充值记录-->
        <activity
            android:name=".ui.activity.my.AccountRecordActivity"
            android:screenOrientation="portrait"/>
        <!--发票页面-->
        <activity
            android:name=".ui.activity.my.BillDebitActivity"
            android:screenOrientation="portrait"/>
        <!--发票详情页面-->
        <activity
            android:name=".ui.activity.my.BillDetailActivity"
            android:screenOrientation="portrait"/>
        <!--充值界面-->
        <activity
            android:name=".ui.activity.my.PayActivity"
            android:screenOrientation="portrait"/>
        <!--订单详情界面-->
        <activity
            android:name=".ui.activity.my.OrderDetailActivity"
            android:screenOrientation="portrait"/>
        <!--支付宝相关-->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind">
        </activity>
        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind">
        </activity>

        <!--开发票列表界面-->
        <activity
            android:name=".ui.activity.my.DebitListActivity"
            android:screenOrientation="portrait"/>

        <service
            android:name=".util.webserver.WebServer"
            android:enabled="true"
            android:exported="true"/>
        <!--复印的相关界面-->
        <activity
            android:name=".ui.activity.Copy.CopyActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind">
        </activity>
    </application>

</manifest>